.main {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    list-style: none;
    margin-bottom: 0px;
    height: 100vh;
    background: rgb(250, 255, 255);
    background: linear-gradient(0deg, rgba(78, 79, 79, 1) 0%, rgb(255, 255, 255) 100%);
  }
  &__pokemonContainer {
    border: solid 1px black;
    border-radius: 12px;
    background-color: rgba(17, 204, 33, 0.438);
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__typesList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    &--type {
      border: solid black 1px;
      border-radius: 10px;
      height: 30px;
      padding: 0px 10px;
      margin-bottom: 15px;
      margin-right: 5px;
      background-color: rgba(255, 98, 25, 0.7);
      font-family: $fontText;
      font-size: 14px;
    }
  }
  &__pokemonImg {
    width: 150px;
  }
  &__pokemonName {
    font-family: $fontText;
  }
}
.favorite-pokemon {
  background-color: rgba(238, 20, 20, 0.726);
}
.favoriteIcon {
  display: none;
  width: 35px;
}
.show {
  display: block;
}
