.title {
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 15px;
}
